# Unit 5 - Financial Planning

In [67]:
import os
import requests
import pandas as pd
import numpy as np
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
from dotenv import load_dotenv
%matplotlib inline

In [68]:
# Load .env enviroment variables
load_dotenv()

True

## Part 1 - Personal Finance Planner

### Collect Crypto Prices Using the `requests` Library

In [69]:
#my_btc
#my_eth
#my_btc_value
#my_eth_value
#btc_url
#eth_url
#btc_price
#eth_price
#Symbol
#crypto_assets

In [70]:
# Set current amount of crypto assets
# YOUR CODE HERE!
my_btc = 1.2
my_eth = 5.3

Symbol = ["BTC", "ETH"]
Amount = ["my_btc","my_eth"]
crypto_assets = pd.DataFrame([my_btc,my_eth], index=Symbol)
crypto_assets

       0
BTC  1.2
ETH  5.3

In [71]:
# Crypto API URLs
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=CAD"
eth_url = "https://api.alternative.me/v2/ticker/Ethereum/?convert=CAD"

In [72]:
# Fetch current BTC price
# YOUR CODE HERE!
btc= requests.get(btc_url).json()
btc_price = btc['data']['1']['quotes']['USD']['price']
# Fetch current ETH price
# YOUR CODE HERE!
eth= requests.get(eth_url).json()
eth_price= eth['data']['1027']['quotes']['USD']['price']
# Compute current value of my crpto
# YOUR CODE HERE!
my_btc_value = float(my_btc) * float(btc_price)
my_eth_value = float(my_eth) * float(eth_price)
# Print current crypto wallet balance
print(f"The current value of your {my_btc} BTC is ${my_btc_value:0.2f}")
print(f"The current value of your {my_eth} ETH is ${my_eth_value:0.2f}")

The current value of your 1.2 BTC is $50406.00
The current value of your 5.3 ETH is $16605.64

### Collect Investments Data Using Alpaca: `SPY` (stocks) and `AGG` (bonds)

In [73]:
# Set current amount of shares
my_agg = 200
my_spy = 50

In [74]:
# Set Alpaca API key and secret
# YOUR CODE HERE!
alpaca_api_key = os.getenv("API_KEY_ID")
alpaca_secret_key = os.getenv("SECRET_KEY")
# Create the Alpaca API object
# YOUR CODE HERE!
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [75]:
# Format current date as ISO format
# YOUR CODE HERE!
start_date= pd.Timestamp("2021-01-19", tz="America/New_York").isoformat()
end_date= pd.Timestamp("2022-01-19", tz="America/New_York").isoformat()
# Set the tickers
tickers = ["AGG", "SPY"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)
# YOUR CODE HERE!
ticker_data = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df
# Preview DataFrame

df_closing_prices = pd.DataFrame()
df_closing_prices["AGG"] = ticker_data["AGG"]["close"]
df_closing_prices["SPY"] = ticker_data["SPY"]["close"]

# YOUR CODE HERE!

df_closing_prices.head()

                              AGG     SPY
time
2021-01-19 00:00:00-05:00  117.41  378.63
2021-01-20 00:00:00-05:00  117.40  383.86
2021-01-21 00:00:00-05:00  117.26  384.20
2021-01-22 00:00:00-05:00  117.26  382.86
2021-01-25 00:00:00-05:00  117.54  384.40

In [76]:
# Pick AGG and SPY close prices
# YOUR CODE HERE!
agg_close_price = float(df_closing_prices["AGG"])
spy_close_price = float(df_closing_prices["SPY"])

print(agg_close_price)
print(spy_close_price)


# Print AGG and SPY close prices
print(f"Current AGG closing price: ${agg_close_price}")
print(f"Current SPY closing price: ${spy_close_price}")

df_closing_prices["AGG"].apply(lambda x: float(x))

TypeError: cannot convert the series to <class 'float'>

In [77]:
#This is where I had an error.

In [78]:
# Compute the current value of shares
# YOUR CODE HERE!

my_spy_value = spy_close_price * my_spy
my_agg_value = agg_close_price * my_agg

# Print current value of shares
print(f"The current value of your {my_spy} SPY shares is ${my_spy_value:0.2f}")
print(f"The current value of your {my_agg} AGG shares is ${my_agg_value:0.2f}")

NameError: name 'spy_close_price' is not defined

### Savings Health Analysis

In [79]:
# Set monthly household income
# YOUR CODE HERE!
monthly_income=12000
# Consolidate financial assets data
# YOUR CODE HERE!
crypto = (my_btc_value) + (my_eth_value)
shares = (my_agg_value) + (my_spy_value)
# Create savings DataFrame
# YOUR CODE HERE!
df_savings = pd.DataFrame([crypto,shares])
# Display savings DataFrame
display(df_savings)

NameError: name 'my_agg_value' is not defined

In [80]:
# Plot savings pie chart
# YOUR CODE HERE!
fig = px.pie(df_savings, values='amount', title=({'center':'Composition of Personal Savings'}, ylabel='amount')

SyntaxError: invalid syntax (1547197114.py, line 3)

In [81]:
# Set ideal emergency fund
emergency_fund = monthly_income * 3

# Calculate total amount of savings
# YOUR CODE HERE!
total_savings = float(crypto) + float(shares)
# Validate saving health
# YOUR CODE HERE!
if emergency_fund is < total_savings 
    print("You have not met recomended amount of funds in your emergency fund")
    else 
        print("Congratulations! You have enough money in your emergency fund.")

SyntaxError: invalid syntax (2244151634.py, line 9)

## Part 2 - Retirement Planning

### Monte Carlo Simulation

In [82]:
# Set start and end dates of five years back from today.
# Sample results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2016-05-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2021-05-01', tz='America/New_York').isoformat()

In [83]:
# Get 5 years' worth of historical data for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)
# YOUR CODE HERE!
start_date_ = pd.Timestamp("2017-01-18", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-01-18", tz="America/New_York").isoformat()

df_stock_data = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date_,
    end=end_date,
    limit=1000,
).df

# Display sample data
df_stock_data.head()

                              AGG                                       \
                             open     high     low    close     volume
time
2018-01-29 00:00:00-05:00  108.14  108.210  108.02  108.190  3532887.0
2018-01-30 00:00:00-05:00  108.12  108.120  107.92  108.005  2965870.0
2018-01-31 00:00:00-05:00  108.20  108.210  107.88  108.090  5729791.0
2018-02-01 00:00:00-05:00  107.75  107.825  107.48  107.490  8569565.0
2018-02-02 00:00:00-05:00  107.25  107.345  107.10  107.200  4266243.0

                              SPY
                             open    high     low   close       volume
time
2018-01-29 00:00:00-05:00     NaN     NaN     NaN     NaN          NaN
2018-01-30 00:00:00-05:00  282.59  283.29  281.22  281.66   86366361.0
2018-01-31 00:00:00-05:00  282.73  283.30  280.68  281.91   76360186.0
2018-02-01 00:00:00-05:00  281.04  283.06  280.68  281.60   64693558.0
2018-02-02 00:00:00-05:00  280.08  280.23  275.41  275.52  121717871.0

In [84]:
# Configuring a Monte Carlo simulation to forecast 30 years cumulative returns
# YOUR CODE HERE!
the_30yr_return = MCSimulation(
    portfolio_data = df_stock_data,
    weights = [.8,.2],
    num_simulation = 1000,
    num_trading_days = 252*30
)

In [85]:
# Printing the simulation input data
# YOUR CODE HERE!
the_30yr_return.portfolio_data.head()

                              AGG                                       \
                             open     high     low    close     volume
time
2018-01-29 00:00:00-05:00  108.14  108.210  108.02  108.190  3532887.0
2018-01-30 00:00:00-05:00  108.12  108.120  107.92  108.005  2965870.0
2018-01-31 00:00:00-05:00  108.20  108.210  107.88  108.090  5729791.0
2018-02-01 00:00:00-05:00  107.75  107.825  107.48  107.490  8569565.0
2018-02-02 00:00:00-05:00  107.25  107.345  107.10  107.200  4266243.0

                                           SPY                          \
                          daily_return    open    high     low   close
time
2018-01-29 00:00:00-05:00          NaN     NaN     NaN     NaN     NaN
2018-01-30 00:00:00-05:00    -0.001710  282.59  283.29  281.22  281.66
2018-01-31 00:00:00-05:00     0.000787  282.73  283.30  280.68  281.91
2018-02-01 00:00:00-05:00    -0.005551  281.04  283.06  280.68  281.60
2018-02-02 00:00:00-05:00    -0.002698  280.08  280.23  275.41  275.52


                                volume daily_return
time
2018-01-29 00:00:00-05:00          NaN          NaN
2018-01-30 00:00:00-05:00   86366361.0          NaN
2018-01-31 00:00:00-05:00   76360186.0     0.000888
2018-02-01 00:00:00-05:00   64693558.0    -0.001100
2018-02-02 00:00:00-05:00  121717871.0    -0.021591

In [ ]:
# Running a Monte Carlo simulation to forecast 30 years cumulative returns
# YOUR CODE HERE!
the_30yr_return.calc_cumulative_return()

Running Monte Carlo simulation number 0.
Running Monte Carlo simulation number 10.
Running Monte Carlo simulation number 20.
Running Monte Carlo simulation number 30.
Running Monte Carlo simulation number 40.
Running Monte Carlo simulation number 50.
Running Monte Carlo simulation number 60.
Running Monte Carlo simulation number 70.
Running Monte Carlo simulation number 80.
Running Monte Carlo simulation number 90.
Running Monte Carlo simulation number 100.
Running Monte Carlo simulation number 110.
Running Monte Carlo simulation number 120.
Running Monte Carlo simulation number 130.
Running Monte Carlo simulation number 140.
Running Monte Carlo simulation number 150.
Running Monte Carlo simulation number 160.
Running Monte Carlo simulation number 170.
Running Monte Carlo simulation number 180.
Running Monte Carlo simulation number 190.
Running Monte Carlo simulation number 200.
Running Monte Carlo simulation number 210.
Running Monte Carlo simulation number 220.
Running Monte Carlo simulation number 230.
Running Monte Carlo simulation number 240.
Running Monte Carlo simulation number 250.
Running Monte Carlo simulation number 260.
Running Monte Carlo simulation number 270.
Running Monte Carlo simulation number 280.
Running Monte Carlo simulation number 290.
Running Monte Carlo simulation number 300.
Running Monte Carlo simulation number 310.
Running Monte Carlo simulation number 320.
Running Monte Carlo simulation number 330.
Running Monte Carlo simulation number 340.
Running Monte Carlo simulation number 350.
Running Monte Carlo simulation number 360.
Running Monte Carlo simulation number 370.
Running Monte Carlo simulation number 380.
Running Monte Carlo simulation number 390.

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!
line_plot = the_30yr_return.plot_simulation()

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!
dist_plot = the_30yr_return.plot_distribution()

### Retirement Analysis

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!
even_tbl = the_30yr_return.summarize_cumulative_return()
# Print summary statistics
# YOUR CODE HERE!
print(even_tbl)

### Calculate the expected portfolio return at the `95%` lower and upper confidence intervals based on a `$20,000` initial investment.

In [ ]:
# Set initial investment
initial_investment = 20000

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $20,000
# YOUR CODE HERE!
ci_lower = round(even_tbl[8]*20000,2)
ci_upper = round(even_tbl[9]*20000,2)
# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 30 years will end within in the range of"
      f" ${ci_lower} and ${ci_upper}")

### Calculate the expected portfolio return at the `95%` lower and upper confidence intervals based on a `50%` increase in the initial investment.

In [ ]:
# Set initial investment
initial_investment = 20000 * 1.5

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $30,000
# YOUR CODE HERE!
ci_lower = round(even_tbl[8]*30000,2)
ci_upper = round(even_tbl[9]*30000,2)

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 30 years will end within in the range of"
      f" ${ci_lower} and ${ci_upper}")

## Optional Challenge - Early Retirement


### Five Years Retirement Option

In [ ]:
# Configuring a Monte Carlo simulation to forecast 5 years cumulative returns
# YOUR CODE HERE!

the_5_year_sim = MCSimulation(
    portfolio_data = df_stock_data,
    weights = [0.2, 0.8],
    num_simulation = 500,
    num_trading_days = 252*5
)

the_5_year_sim.portfolio_data.head

In [ ]:
# Running a Monte Carlo simulation to forecast 5 years cumulative returns
# YOUR CODE HERE!

np.random.seed(0)
the_5_year_sim.calc_cumulative_return()

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!
line_plot = the_5_year_sim.plot_simulation()

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!
dist_plot = the_5_year_sim.plot_distribution()
dist_plot.get_figure().savefig('MC_Teset.png',bbox_inches='tight')

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!
even_tbl_2 = the_5_year_sim.summarize_cumulative_return()


# Print summary statistics
# YOUR CODE HERE!
print(even_tbl_2)

In [ ]:
# Set initial investment
initial_investment_3 = 50000

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $60,000
ci_lower_3 = round(even_tbl_2[8]*30000,2)
ci_upper_3 = round(even_tbl_2[9]*30000,2)

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment_3} in the portfolio"
      f" over the next 5 years will end within in the range of"
      f" ${ci_lower_3} and ${ci_upper_3}")

### Ten Years Retirement Option

In [ ]:
# Configuring a Monte Carlo simulation to forecast 10 years cumulative returns
# YOUR CODE HERE!
the_10_year_simulation = MCSimulation(
    portfolio_data = df_stock_data,
    weights = [0.1,0.9],
    num_simulation = 500,
    num_trading_days = 252*10
)
the_10_year_simulation.portfolio_data.head()

In [ ]:
# Running a Monte Carlo simulation to forecast 10 years cumulative returns
# YOUR CODE HERE!
np.random.seed(0)
ten_year_simulation.calc_cumulative_return()

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!
line_plot = the_10_year_simulation.plot_simulation()

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!
dist_plot = ten_year_simulation.plot_distribution()
dist_plot.get_figure().savefig('MC_Teset.png',bbox_inches='tight')

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
even_tbl_3 = ten_year_simulation.summarize_cumulative_return()

# Print summary statistics
print(even_tbl_3)

In [ ]:
# Set initial investment
initial_investment_4 = 65000

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $60,000
ci_lower_ten = round(even_tbl_3[8]*65000,2)
ci_upper_ten = round(even_tbl_3[9]*65000,2)

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment_4} in the portfolio"
      f" over the next 10 years will end within in the range of"
      f" ${ci_lower_ten} and ${ci_upper_ten}")